<div id="indexBG">

<div class="indexNav">
    <a href="~/accounts/LogIn">Log in</a>
    <a href="~/accounts/Register">Register</a>
</div>
    <img src="~/images/foshow.png" />
    <h3>Follow your shows everywhere</h3>
    <p>Powered by www.TvMaze.com</p>
</div>

