@{
    ViewData["Title"] = "Home Page";
}
<div id="indexBG">

<div class="indexNav">
    <a href="~/accounts/LogIn">Log in</a>
    <a href="~/accounts/Register">Register</a>
</div>
<h1>Index</h1>
    <p>powered by tvmaze.com</p>
</div>

