@using tvShowProject.Models.VM
@model LoggedInUserVM

<form asp-controller="Accounts" asp-action="Settings">
    @if (!Model.Equals(null))
    {

        <label asp-for="Username">@Model.Username</label>
        <br />
        <label asp-for="Email">@Model.Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    }
    <br />
    <input type="submit" value="Save changes" asp-route-aspNetUserId="@Model.AspNetId" asp-route-email="@Model.Email" />
</form>


