@using tvShowProject.Models.VM
@model LoggedInUserVM

<form asp-controller="Accounts" asp-action="Settings">
    <label asp-for="Username">@Model.Username</label>
    <br />
    @*<label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>*@
    <br />
    <p>Current Email</p>
    <label asp-for="Email">@Model.Email</label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />
    <input type="submit" value="Register" />
</form>


