@model tvShowProject.Models.VM.AccountLoginVM

<h2>LogIn-form</h2>
<form asp-controller="Home" asp-action="LogIn" asp-route-returnUrl="@Model.ReturnUrl">
    <label asp-for="Username"></label>
    <input asp-for="Username" />
    <span asp-validation-for="Username"></span>
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <input type="submit" value="Log in" />
</form>
@section Scripts
    {
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}