@using tvShowProject.Models.VM
@model SearchResultVM[]

<table>
    @foreach (var result in Model)
    {
        <tr>
            <td>
                <a asp-controller="Shows" asp-action="ShowDetails" asp-route-id="@result.Show.ExternalIds.Imdb">
                    @result.Show.Title
                </a>
            </td>
            <td>
                <form asp-controller="Shows" asp-action="Follow" asp-route-id="@result.Show.ExternalIds.Imdb" asp-route-title="@result.Show.Title" >
                    <input type="submit" value="Follow" />
                </form>
            </td>
        </tr>
    }
</table>
