@using tvShowProject
@model SearchResult[]

<table>
    @foreach (var result in Model)
    {
        <tr>
            <td>
                <a asp-controller="Shows" asp-action="ShowDetails" asp-route-id="@result.Show.Id">
                    @result.Show.Name
                </a>
            </td>
            <td>
                <form asp-controller="Shows" asp-action="Follow" asp-route-id="@result.Show.Id" asp-route-title="@result.Show.Name" >
                    <input type="submit" value="Follow" />
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="2"><p>Test...</p></td>
        </tr>
    }
</table>