@using tvShowProject.Models.VM
@model UserPageVM
@{
    ViewData["Title"] = "UserPage";
}
<div id="userPageNav">
    <a href="~/shows/userSettings">Account settings</a>
    <a href="~/accounts/LogOut">Log out</a>
</div>
<h1>Welcome @Model.Username</h1>
<p>this is the user page, where the TV-show form will be displayed</p>
<form asp-controller="Shows" asp-action="Search" >
    <input asp-for="SearchString" />
    <input type="submit" value="Search" />
</form>
<table>
    <thead>
        <tr>
            <th><h6>Title</h6></th>
            <th><h6>Latest Episode</h6></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FollowedShowItems)
        {
        <tr>
            <td>@item.Title</td>
            <td>@item.ImdbId</td>
        </tr>
        <tr>
            <td colspan="2"><p>Test...</p></td>
        </tr>
        }
    </tbody>
</table>
