@using tvShowProject.Models.VM
@model UserPageVM

<div id="userPageNav">
    <a href="~/shows/userSettings">Account settings</a>
    <a href="~/accounts/LogOut">Log out</a>
</div>
<div id="myWrapper">
    <h1>Welcome @Model.Username</h1>
    <p>this is the user page, where the TV-show form will be displayed</p>
    <form asp-controller="Shows" asp-action="Search">
        <input asp-for="SearchString" />
        <input type="submit" value="Search" />
    </form>
    <table>
        <thead>
            <tr>
                <th><h3>Title</h3></th>
                <th><h3>Latest Episode</h3></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FollowedShowItems)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>
                        <form asp-controller="Shows" asp-action="UnFollow" asp-route-tvMazeId="@item.Id">
                            <input type="submit" value="Unfollow" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p>Test...</p></td>
                </tr>
            }
        </tbody>
    </table>
    </div>
